@reboot env - `cat /etc/environment` /srv/dehydrated/dehydrated --cron --config /srv/dehydrated/config >> /var/log/dehydrated 2>&1
@monthly env - `cat /etc/environment` /srv/dehydrated/dehydrated --cron --config /srv/dehydrated/config >> /var/log/dehydrated 2>&1
